<%- include('../partials/header') %>

    <h3>Please fill out the following form to edit this hiking trail</h3>

    <form id="new-form" action="/trails/<%= trail._id %>/edit" method="GET">
        <label>Location:</label>
        <input type="text" name="location" value="<%= trail.location %>">
        <label>Trail Name:</label>
        <input type="text" name="trailName" value="<%= trail.trailName %>">
        <label>Image:</label>
        <input type="text" name="image" value="<%= trail.image %>">
        <label>Difficulty Level</label>
        <select name="difficulty">
            <option value="Easy">easy</option>
            <option value="Moderate">moderate</option>
            <option value="Challenging">challenging</option>
            <option value="Difficult">difficult</option>
            <option value="Extreme">extreme</option>
        </select>
        <label>Distance</label>
        <input type="text" name="distance" value="<%= trail.distance %>">
        <select name="unit">
            <option value="kms">km/s</option>
            <option value="miles">mile/s</option>
        </select>
        <label>Pets Allowed</label>
        <input type="checkbox" name="petsAllowed" checked>
        <input type="submit" value="Save">
    </form>

    <%- include('../partials/footer') %>