<%- include('../partials/header') %>
    <table id="list">
        <p>Where is Your Next Adventure?</p>
        <tbody>
            <% trails.forEach(function(t) { %>
                <tr>
                    <td>
                        <%= t.trailName %>
                    </td>

                    <td>
                        <%= t.location %>
                    </td>
                    <td>
                        <img src="<%= t.image %>" alt="image">
                    </td>
                    <td>
                        Created By: <%= t.user.name %>
                    </td>
                    <td><a href="/trails/<%= t._id %>">DETAILS</a></td>
                    <td>
                        <% if (user) { %>
                            <% if (!t.favoritedBy.some(f=> f.equals(user._id))) { %>
                                <form action="/trails/<%= t._id %>/favorites" method="POST">
                                    <button type="submit">Favorite</button>
                                </form>
                                <% } %>
                                    <% } %>
                    </td>
                </tr>
                <% }); %>
        </tbody>
    </table>

    <%- include('../partials/footer') %>